# Xcode
build/
DerivedData/
*.xcodeproj/
!project.yml
xcuserdata/
*.xcworkspace/
*.xcuserstate

# macOS
.DS_Store

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
.swiftpm/

# generated
MacAudioBridge/Info.generated.plist
